<!DOCTYPE html>
<html>
    <head>
        <title>Shows</title>
    </head>
    <body>
        <h2>IMDB: Top 5 Episodes</h2>
        <table width="100%", border="solid">
          <tr>
            <th>Title</th>
            <th>Episode</th>
            <th>Rating</th>
          </tr>
          <tr>
            <td>Breaking Bad</td>
            <td>Ozymandias</td>
            <td>10.0</td>
          </tr>
          <tr>
            <td>Attack on Titan</td>
            <td>Hero</td>
            <td>9.9</td>
          </tr>
          <tr>
            <td>Attack on Titan</td>
            <td>Perfect Game</td>
            <td>9.9</td>
          </tr>
          <tr>
            <td>Star Wars: The Clone Wars</td>
            <td>Victory and Death</td>
            <td>9.9</td>
          </tr>
          <tr>
            <td>Mr. Robot</td>
            <td>407 Proxy Authentication Required</td>
            <td>9.9</td>
          </tr>
        </table>        
    </body>
</html>