<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Form</title>
    <link th:href="@{/form-stylesheet.css}" rel="stylesheet">
  </head>    
  <body>
    <div class="topnav">
      <a th:href="@{/}">Form</a>
      <a th:href="@{/grades}">Grades</a>
    </div>   
    <div class="container">
      <h2> Grade Portal </h2>
      <form method="post" th:object="${grade}" th:action="@{/handleSubmit}"> 
        <input type="text" placeholder="Name" th:field="*{name}">
        <input type="text" placeholder="Score" th:field="*{score}">  
        <input type="text" placeholder="Subject" th:field="*{subject}">
        <input type="hidden" th:field="*{id}">
        <br><br>
        <input type="submit" value="Submit">
      </form>
    </div>
</body>
</html>
